@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

body{
  background-color: #363636;
  font-family: 'Open Sans', sans-serif;
  color: #D6CFCB;
}

h1{
  text-align: center;
  color: #D6CFCB;
  font-weight: 800;
}

.container{
  background-color: #E5E5E5;
  margin: auto;
  width: 60%;
  height: 680px;
  text-align: center;
  padding: 20px 0 50px;
  position: relative;
  color: #242F40;
}

ul{
  list-style: none;
  padding: 0;
}

.container_items{
  margin: 10px auto;
  padding: 20px 0 20px;
  width: 100%;
  height: 70%;
  overflow: auto;
  position: absolute;
}
.container_items::-webkit-scrollbar {
    width: 5px;
}
.container_items::-webkit-scrollbar-thumb {
  background-color: #a2a2a2;
  outline: 1px solid #e1e6f9;
}

li{
  margin: 10px auto 15px;
  border: 5px solid #FFFFFF;
  width: 60%;
  padding: 15px 0;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button{
  width: 70px;
  height: 27px;
  background-color: #a0a0a0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  color: black;
  background: #E5E5E5;
  text-decoration: none;
}