<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="index.css">
	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Simple Todo List</title>
</head>
<body>

	<div id="todo-list">	
        
		<h1 id="title">My Todo List</h1>
        <div class="container">
		    <div id="todo-count">
			    <!-- the count of items in your todo list should be displayed here -->			    
			    <p v-if="itemlist.length > 0">Item count: {{ itemlist.length }}</p>
			    <p v-else="itemlist.length == 0">No items found.</p>
	    	</div>

		    <form id="add-todo" v-on:submit.prevent="addlist">
		        <input id="add-todo-input" type="text" placeholder="What will i do?" v-model="input">
			    <button id="add-todo-button">Add</button>
	    	</form>

		    <div class="error-message" v-if="errorPresence">
		    	<p>Must not leave the field blank.</p>
		    </div>
            <div class="container_items">
		        <ul id="list-elem">
		    	    <!-- the items in your todo list should be displayed here -->
		    	    <li v-for="items in itemlist">
		    		    {{ items.item }}
		    		    <button :id="items.id" v-on:click="deleteItem">Delete</button>
	    	    	</li>
	    	</ul>
	    	</div>
	    </div>
	</div>
	
	<script src="index.js"></script>
</body>
</html>