<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="index.css">
		<!-- vue -->
	    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<title>Simple Calculator</title>
	</head>
	<body>
		<div id="calculator">
			<div id="result">
				<span>{{ arithString }}</span>
			</div>
			<button class="operator" v-on:click="clicked" :disabled="isOperationsDisabled">/</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">7</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">8</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">9</button>
			<button class="operator" v-on:click="clicked" :disabled="isOperationsDisabled">*</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">4</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">5</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">6</button>
			<button class="operator" v-on:click="clicked" :disabled="isOperationsDisabled">-</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">1</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">2</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">3</button>
			<button class="operator" v-on:click="clicked" :disabled="isOperationsDisabled">+</button>
			<button class="value" v-on:click="clicked" :disabled="isNumbersDisabled">0</button>
			<button class="clear" v-on:click="clicked" >c</button>
			<button class="equal" v-on:click="clicked" >=</button>
			</div>
		</div>
		<!-- my script -->
	    <script src="index.js"></script>
	</body>
</html>