body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
#calculator {
	display: flex;
	flex-wrap: wrap;
	width: 240px;
	background-color: skyblue;
	padding: 20px;
	border-radius: 5px;
}
#calculator > button {
	width: 50px;
	height: 50px;
	margin: 5px;
	border-radius: 5px;
	outline: none;
}
#result {
	width: 168px;
	height: 57px;
	margin: 1px 5px;
	padding: 0 1px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 2px;
}
#result > span {
	margin: auto 10px;
	overflow: auto;
}
.operator, .clear, .equal {
	background-color: white;
}
p {
	padding: 0;
	margin: 5px auto 0 auto;
	color: white;
	font-style: italic;
}
